<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">New Offer</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    {{ template "new_offer_form" . }}
  </div>
</div>

{{ define "new_offer_form" }}
<form id="new-offer-form">
  <div class="modal-body">
    <div class="form-group">
      {{template "title" .}}
      {{template "author" .}}
      {{template "description" .}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Close
    </button>
    <button
      type="submit"
      class="new-offer-button btn btn-primary"
      hx-post="/new_offer"
      hx-target="#job-list"
      hx-swap="outerHTML"
      hx-target-400="#new-offer-form"
      hx-indicator=".new-offer-spinner, .new-offer-button-text"
      hx-on::after-request="if(event.detail.successful) closeNewOfferModal()"
      >
    <span class="new-offer-button-text">Save offer</span>
    <img
      id="new-offer-spinner"
      class="new-offer-spinner htmx-indicator"
      src="/public/images/bars.svg"
      alt="Loading..."
      />
  </div>
</form>

{{ end }}

{{define "title"}}
<div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control{{ if .errors.Title }} is-invalid{{end}}" name="title" id="title" placeholder="Enter title">
    {{ if .errors.Title }}
        <small class="form-text text-danger">
            {{ .errors.Title }}
        </small>
    {{end}}
</div>
{{end}}

{{define "author"}}
<div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control{{ if .errors.Author }} is-invalid{{end}}" name="author" id="author" placeholder="Enter author">
    {{ if .errors.Author }}
        <small class="form-text text-danger">
            {{ .errors.Author }}
        </small>
    {{end}}
</div>
{{end}}

{{define "description"}}
<div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control{{ if .errors.Description }} is-invalid{{end}}" name="description" id="description" placeholder="Enter description">
    {{ if .errors.Description }}
        <small class="form-text text-danger">
            {{ .errors.Description }}
        </small>
    {{end}}
</div>
{{end}}

